.container {
  display: flex;
  align-items: center;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-10);
  color: var(--white);
  width: 100%;
  height: auto;



  & .cards {
    display: flex;
    padding: 80px;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;

    & .card {
      display: flex;
      width: 68vw;
      padding: 40px 31px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      border-radius: 8px;
      background: var(--dark-20);
      border: 2px solid var(--dark-40);
    }

    & .card__active {
      border: 2px solid var(--brand-color);
    }

    & .time {
      display: flex;
      align-items: center;
      gap: 40rem;

      & .icon__heart__active {
        width: 32px;
        height: 32px;
      }
    }

    & .card__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    & h2 {
      font-size: 24px;
      font-weight: 500;
      font-family: "Space Grotesk";
    }

    & .card__description {
      font-size: 16px;
      font-family: "Inter";
      line-height: 160%;
    }
  }
}